{% extends "/layouts/index.html"%} 

{% block title %}
  Projects  
{% endblock %}

{% block content %}
 
   <div class="container">
     <h1 class="mt-5">Projects</h1>
     <div class="d-flex justify-content-end mb-5">
       <a  href="/dashboard/projects/new" class="btn btn-success"> Add Project</a>
     </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Cover</th>
          <th scope="col">Project Title</th>
          <th scope="col">GitHub Link</th>
          <th scope="col">Live Link</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {%for item in all_projects%}
        <tr>
          <td>
            <img src="{{item[2]}}" style="width:64px"/>
          </td>
          <td>
            {{item[1]}}
          </td>
          <td>
            {{item[3]}}
          </td>
          <td>
            {{item[4]}}
          </td>
          <td>
           DELETE
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
   </div>
{% endblock %}

